@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
:root{
  --purpleLight:#E0DFF6;
  --purpleDark:#4e48bb;
  --whiteLight:#FFFFFF;
  --whiteLightTwo:#eeeef5;
  --pinkOne:#FECFD6;
  --pinkTwo:#FF8EA1;
}
html{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  min-height:100vh;
  background:linear-gradient(145deg,var(--purpleDark) 50%,var(--purpleLight) 50%);
  font-family: 'Oxygen', sans-serif;
}
